@charset "utf-8";
/* CSS Document */
/* CSS reset */
#box{position:fixed;
    left:0;
    right:0;
    top:0;
	bottom:0;
    margin:auto;
	height: 549px;
	width:1000px;
	text-align: center;
	background-image:url(../image/comeback/background.png)
}

#ts{
	position: absolute;
	top: 460px;
	left: 49px;
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
}


#rqq
{
	position:absolute;
	left:-10px;
	top:30px;
	}

/* 定位*/
.cb:after { visibility:hidden;	display:block;	font-size:0;	content:" ";	clear:both;		height:0; }
.cb { clear:both; zoom:1;}
