@charset "utf-8";
/* CSS Document */

#all{
	position:fixed;
    left:0;
    right:0;
    top:0;
	bottom:0;
    margin:auto;
	height: 598px;
	width:1000px;
	text-align: center;
		background-image:url(../image/text/text-1.jpg);
	}
	#boy{
	position: absolute;
	left: 81px;
	top: 260px;
	}
	#before{
	position: absolute;
	left: 400px;
	top: 321px;
		
	}
	#next{
	position: absolute;
	left: 800px;
	top: 315px;
	}
	#return{
	position: absolute;
	left: -31px;
	top: 95px;
	height: 57px;
	}
	#return:hover,#before:hover,#next:hover{
		transform:scale(1.1);
	}
