@charset "utf-8";
/* CSS Document */
#a1{
		position:fixed;
    left:0;
    right:0;
    top:0;
	bottom:0;
    margin:auto;
	height: 598px;
	width:1000px;
	text-align: center;
		background-image: url(image/text/background.png);
	}
	#boy{
	position: absolute;
	left: 75px;
	top: 281px;
	}
	#girl{
	position: absolute;
	left: 782px;
	top: 239px;
	width: 163px;
	height: 275px;
	}
	#sun{
	position: absolute;
	left: 17px;
	top: 10px;
	}
	#word{
	position: absolute;
	top: 137px;
	width: 443px;
	height: 132px;
	left: 315px;
	}
	#word2{
		position: absolute;
	}
	#return{
	position: absolute;
	left: -45px;
	top: 73px;
	width: 338px;
	height: 51px;
	}
	#boy:hover,#girl:hover,#return:hover{
	transform:scale(1.1);
	}
